@import '../scss/main.scss';
.footer {
  background-color: $bg_color;
  color: $primary_color;
  position: relative;
  z-index: 10;
  &__container {
    min-height: 8vh;    
  }
  img {
      height: 70%;
      width: 70%;
    }
}
