@import '../scss/main.scss';
.myform {
  label,
  input,
  textarea {
    color: $font_color;
    @include font-300;
  }
  label {
    font-size: rem(20);
  }
  input.form-control,
  textarea {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: solid rem(1) $primary_color;
  }
  textarea:focus {
    background-color: transparent;
  }
  button{
    @include font-300;
      background-color: $primary_color;
      border: none;
      width: rem(99);
  }
  button:hover{
    background-color: $primary_color;
  }
}
