@import "../scss/main.scss";
.card {
  border: solid rem(1) $primary_color;
  margin-top: rem(25);
  box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
  border-radius: rem(15);

  .moreinfo {
    display: none !important;
    transition: 0.4s;
  }

  .card-image {
    max-height: rem(179);
    border-radius: rem(15) rem(15) 0 0;
  }
  .card-body {
    border-radius: 0 0 rem(15) rem(15);
    height: rem(155);
    background-color: $bg_card_color;
    color: $font_color;
    text-align: center;
    .card-title {
      font-size: rem(20);
      @include font-600;
    }
    .card-description {
      font-size: rem(13);
      @include font-300;
    }
  }
}

.card:hover {
  .moreinfo {
    display: inline-flex !important;
    background-color: #121113a8;
    height: rem(179);
    position: absolute;
    a,
    p,
    i {
      color: white;
    }
    a,
    p {
      font-size: rem(15);
      @include font-300;
    }
    i {
      font-size: rem(30);
    }
    i.like {
      color: $primary_color;
    }
    .dislike {
      color: grey;
    }
  }
}
