.card {
  border: solid 1px #136b1f;
  margin-top: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  .moreinfo {
    display: none !important;
    transition: 0.4s;
  }

  .card-image {
    max-height: 179px;
    border-radius: 15px 15px 0 0;
  }
  .card-body {
    border-radius: 0 0 15px 15px;
    height: 155px;
    background-color: #313131;
    color: white;
    text-align: center;
    .card-title {
      font-size: 20px;
    }
    .card-description {
      font-size: 13px;
    }
  }
}

.card:hover {
  .moreinfo {
    display: inline-flex !important;
    background-color: #121113a8;
    height: 179px;
    position: absolute;
    a,
    p,
    i {
      color: white;      
    }
    a,p {
      font-size: 15px;
    }
    i{
      font-size: 30px;
    }
    i.like {
      color: #136b1f;
    }
    .dislike {
      color: grey;
    }
  }
}
