@import "../scss/main.scss";
.contact {
  background-color: $bg_color_container;
  position: relative;
  &__content {
    margin-top: rem(50);
  }
  .mask {
    position: absolute;
    bottom: 0;
    right: 34%;
    opacity: 30%;
  }
  .section {
    min-height: 82vh;
    .title {
      color: $primary_color;
      font-size: rem(30);
      font-family: $secundary_font;
    }
    .paragraph {
      font-size: rem(20);
      color: white;
      @include font-300;
    }
    .pcontact {
      margin: 0 0 rem(40) 0;
      i {
        font-size: rem(33);
        color: $primary_color;
        margin-right: rem(40);
      }
      a{
        color: $font_color;
      }
    }
  }
}
