.home {
  background-color: #121113;
  position: relative;
  .mask {
    position: absolute;
    right: 0;
    height: 100%;
  }
  .section {
    min-height: 82vh;       
    div{
      max-width: 906px;
    }
    .title {
      color: #136b1f;
      font-size: 30px;
    }
    .subtitle {
      font-size: 25px;
      color: white;
    }
    .paragraph {
      font-size: 20px;
      color: white;
    }
  }
}
