@import "../scss/main.scss";
.home {
  background-color: $bg_color_container;
  position: relative;
  .mask {
    position: absolute;
    opacity: 30%;
    
    right: 0;
    height: 100%;
  }
  .section {
    min-height: 82vh;
    div {
      max-width: rem(906);
    }
    .title {
      color: $primary_color;
      font-size: rem(30);
      font-family: $secundary_font;
    }
    .subtitle {
      font-size: rem(25);
      color: $font_color;
      @include font-400;
    }
    .paragraph {
      font-size: rem(20);
      color: $font_color;
      @include font-300;
    }
  }
}
