.myproyects {
  background-color: #121113;
  .container {
    position: relative;    
    .mask {
      position: absolute;
      bottom: 0;
    }
  }
  .section {
    min-height: 82vh;
    margin: 50px 0 50px 0;
  }
  &__title {
    text-align: center;
    color: #136b1f;
    font-size: 30px;
    p {
      margin: 0;
      color: white;
      font-size: 20px;
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}
