@import "../scss/main.scss";
.myproyects {
  background-color: $bg_color_container;
  .container {
    position: relative;
    .mask {
      position: absolute;      
      bottom: 0;      
    }
  }
  .section {
    min-height: 82vh;
    margin: rem(50) 0 rem(50) 0;
  }
  &__title {
    text-align: center;
    color: $primary_color;
    font-family: $secundary_font;
    font-size: rem(30);
    p {
      margin: 0;
      color: white;
      font-size: rem(20);
      margin-bottom: rem(50);
      @include font-300;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}
