.singleproyect {
  background-color: #121113;
  position: relative;
  .mask {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 30%;
  }
  .section {
    min-height: 82vh;
    margin: 50px 0;
    h2.title {
      font-size: 30px;
      color: #136b1f;
    }
    p.description {
      color: white;
      font-size: 20px;
    }
    li {
      color: white;
      font-size: 20px;
    }
    .slider {
      margin: 50px 0;
    }

    .subtitle {
      color: #136b1f;
      font-size: 20px;
      a {
        color: white;
      }
    }
    .work {
      color: white;
      font-size: 20px;
    }
    #slider {
      .swiper-button-next {
        background-image: url("../../images/Arrow\ right.png");
        height: 57px;
        width: 57px;
      }
      .swiper-button-next::after {
        display: none;
      }
      .swiper-button-prev {
        background-image: url("../../images/Arrow\ left.png");
        height: 57px;
        width: 57px;
      }
      .swiper-button-prev::after {
        display: none;
      }
      .swiper-pagination-bullet {
        background-color: white;
        opacity: unset;
        height: 10px;
        width: 10px;
      }
      .swiper-pagination-bullet-active {
        background-color: #136b1f;
      }
      .slide-img {
        width: 100%;
      }
    }
  }
}
