@import "../scss/main.scss";
.singleproyect {
  background-color: $bg_color_container;
  position: relative;
  .mask {
    position: absolute;    
    right: 0;
    bottom: 0;    
  }
  .section {
    min-height: 82vh;
    margin: rem(50) 0;
    h2.title {
      font-size: rem(30);
      color: $primary_color;
      font-family: $secundary_font;
    }
    p.description {
      color: $font_color;
      font-size: rem(20);
      @include font-300;
    }
    li {
      color: $font_color;
      font-size: rem(20);
      @include font-300;
    }
    .slider {
      margin: rem(50) 0;
    }

    .subtitle {
      color: $primary_color;
      font-size: rem(20);
      @include font-700;
      a {
        color: $font_color;
        @include font-300;
      }
    }
    .work {
      color: $font_color;
      font-size: rem(20);
      @include font-300;
    }
    #slider {
      .swiper-button-next {
        background-image: url("../../images/Arrow\ right.png");
        height: rem(57);
        width: rem(57);
      }
      .swiper-button-next::after {
        display: none;
      }
      .swiper-button-prev {
        background-image: url("../../images/Arrow\ left.png");
        height: rem(57);
        width: rem(57);
      }
      .swiper-button-prev::after {
        display: none;
      }
      .swiper-pagination-bullet {
        background-color: $font_color;
        opacity: unset;
        height: rem(10);
        width: rem(10);
      }
      .swiper-pagination-bullet-active {
        background-color: $primary_color;
      }
      .slide-img {
        width: 100%;
      }
    }
  }
}
